body {
    background: linear-gradient(#008f42 0%, rgba(248, 250, 253, 0) 413px);
    background-repeat: no-repeat;
}

html,
body {
    min-height: 100%;
    height: 100%
}

.sidenav {
    width: 240px;
    height: 100%;
}

.sidenav svg {
    vertical-align: text-top;
}

.sidenav span {
    vertical-align: middle;
    margin-right: 1rem;
}

ul p {
    color: rgb(245 245 245 / 72%);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 0;
}

hr {
    margin-top: 0.4rem;
}

.sidenav .active {
    background-color: #008f42 !important;
}

.sidenav .active:hover {
    background-color: #047036 !important;
}

.sidenav .nav-link:hover {
    background-color: #484848db;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow: auto;
}

header {
    display: none;
}

.bill-drop {
    background-color: #343b42;
}

.dropdown-toggle::after{
    float: right;
    margin-top: 10px;
}

.side-nav {
    width: 240px;
}

@media only screen and (max-width: 1000px) {
    header {
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .side-nav {
        display: none;
    }
}